* {
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 400;
    margin: 0;
    padding: 0;

}

.space-1 {
    padding-top: 3%;
}


.space-2 {
    padding-top: 7em;
}

.space-3 {
    padding-top: 2em;
}


.main h1, hr {
    text-align: center;
}