h1 {
    color: black;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;

}
p {
    color: black;
    font-weight: 400;
    font-size: 1.5em;
    font-family: Helvetica;
}

.pUnder {
    font-style: italic;
    color: black;
    font-size: 1em;
    font-family: Helvetica;
}

.pTitle {
    font-size: 0.875em;
    color: grey;
}